# --- GERAL ---
.DS_Store
Thumbs.db

# --- PYTHON (Backend) ---
Backend/venv/
Backend/__pycache__/
Backend/*.pyc
*.db
*.sqlite3

# --- NODE (Frontend) ---
Frontend/node_modules/
Frontend/dist/
Frontend/.eslintcache

# --- SEGURANÇA (CRÍTICO) ---
.env
.env.local